<!DOCTYPE html>
<html>
<body>
	<section>
		<div flash-message="5000"></div>

		<p>Podaj tytuł książki:</p>
		<input type="text" ng-model="prefix">
		<button id="SearchBooks" ng-click="search()">Szukaj</button>
		<button id="AddBook" ng-click="addBook()">Dodaj ksiazke</button>
		

		<table>
			<tr>
				<th>Tytuł</th>
				<th>Autorzy</th>
				<th>Edytuj</th>
				<th>Usuń</th>
			</tr>
			<tr class="ng-scope" ng-repeat="book in books">
				<td>{{ book.title }}</td>
				
				<td>
					<ul>
						<li ng_repeat="author in book.authorsTo ">{{author.firstName}}
							{{author.lastName }}</li>
					</ul>
				</td>
				
				<td>
					<button name="edit" ng-click="editBook(book)">Edytuj</button> 
				</td>
				<td>
					<button name="delete" ng-click="deleteBook(book.id)">Usuń</button>

				</td>
			</tr>
		</table>
	</section>

</body>
</html>